Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright --warnings
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: yamllint
        name: yamllint
        entry: uv run yamllint --strict -c=.yamllint .
        language: system
        types: [yaml]
        pass_filenames: false
      - id: alloy-format
        name: alloy-format
        entry: ./scripts/alloy-fmt
        language: system
        files: \.alloy$

Add persistent cache to immich machine learning
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check

Support external libraries
  services/immich/Pulumi.prod.yaml
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check, yamllint

Add docker-compose file for immich machine learning
  services/immich/docker-compose.yml
Due: yamllint

Fix generate-config-schema
  scripts/generate-config-schema
Due: none

Fix pod logs after enabling rbac
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check

Scrape mimir
  services/monitoring/assets/alloy/discovery_static.alloy
Due: alloy-format

Add snmp metrics for draytek modem
  .yamllint
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/collect_snmp.alloy
  services/monitoring/assets/snmp/generate-config.sh
  services/monitoring/assets/snmp/generator.yaml
  services/monitoring/assets/snmp/mibs/ADSL-LINE-MIB
  services/monitoring/assets/snmp/mibs/ADSL-TC-MIB
  services/monitoring/assets/snmp/mibs/HC-PerfHist-TC-MIB
  services/monitoring/assets/snmp/mibs/IANAifType-MIB
  services/monitoring/assets/snmp/mibs/IF-MIB
  services/monitoring/assets/snmp/mibs/PerfHist-TC-MIB
  services/monitoring/assets/snmp/mibs/SNMP-FRAMEWORK-MIB
  services/monitoring/assets/snmp/mibs/SNMPv2-MIB
  services/monitoring/assets/snmp/mibs/SNMPv2-SMI
  services/monitoring/assets/snmp/mibs/SNMPv2-TC
  services/monitoring/assets/snmp/mibs/VDSL2-LINE-MIB
  services/monitoring/assets/snmp/mibs/VDSL2-LINE-TC-MIB
  services/monitoring/assets/snmp/snmp.yml
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check, yamllint, alloy-format

wip
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/kubernetes/microk8s.py
  services/longhorn/Pulumi.prod.yaml
  services/longhorn/Pulumi.yaml
  services/longhorn/README.md
  services/longhorn/__main__.py
  services/longhorn/longhorn/__init__.py
  services/longhorn/longhorn/config.py
  services/longhorn/longhorn/longhorn.py
  services/longhorn/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Add extractVersion to renovate regex
  renovate.json5
  services/kubernetes/Pulumi.prod.yaml
Due: yamllint

Use esc for kubeconfig
  pyproject.toml
  services/backup/Pulumi.prod.yaml
  services/backup/__main__.py
  services/backup/backup/config.py
  services/immich/Pulumi.prod.yaml
  services/immich/__main__.py
  services/immich/immich/config.py
  services/ingress/Pulumi.prod.yaml
  services/ingress/__main__.py
  services/iot/Pulumi.prod.yaml
  services/iot/iot/config.py
  services/iot/iot/main.py
  services/kubernetes/kubernetes/microk8s.py
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
  services/n8n/Pulumi.prod.yaml
  services/n8n/n8n/config.py
  services/n8n/n8n/main.py
  services/ollama/Pulumi.prod.yaml
  services/ollama/ollama/config.py
  services/ollama/ollama/main.py
  services/paperless/Pulumi.prod.yaml
  services/paperless/__main__.py
  services/paperless/paperless/config.py
  services/svn/Pulumi.prod.yaml
  services/svn/svn/config.py
  services/svn/svn/main.py
  utils/src/utils/k8s.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Implement backup for cloudnative-pg
  services/immich/Pulumi.prod.yaml
  services/immich/__main__.py
  services/immich/immich/config.py
  services/ingress/ingress/config.py
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/config.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check, yamllint

Update utils/src/utils/postgres.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Move backup config model to utils
  services/immich/immich/config.py
  utils/src/utils/model.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Refactor scheduled backup
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Refactor alloy pod discovery
  services/monitoring/assets/alloy/collect_k8s_logs.alloy
  services/monitoring/assets/alloy/discoverey_pods.alloy
Due: alloy-format

Scrape pod metrics
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_pods.alloy
Due: alloy-format

Update services/monitoring/assets/alloy/discovery_pods.alloy
  services/monitoring/assets/alloy/discovery_pods.alloy
Due: alloy-format

Scrape k8s services
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
Due: alloy-format

Fix service scraping
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
Due: alloy-format

Fix scraping of metallb speaker
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
Due: alloy-format

Add readiness probe to alloy
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check

Refactor pod metrics discovery
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
Due: alloy-format

Add immich metrics
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check

Drop non-running pods only for metrics
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
Due: alloy-format

Create separate prs for postgres per file
  renovate.json5
Due: none

Fix renovate ai slop
  renovate.json5
Due: none

Improve commit prs for postgress
  renovate.json5
Due: none

Install prometheus operator crds
  services/monitoring/Pulumi.dev.yaml
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/prometheus_operator_crds.py
Due: pyright, ruff-format, ruff-check, yamllint

Scrape pod monitors
  services/monitoring/assets/alloy/discovery_k8s_podmonitor.alloy
Due: alloy-format

Allow Alloy access to PodMonitors and ServiceMonitors
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check

Monitor cloudnative-pg controller
  services/kubernetes/kubernetes/cloudnativepg.py
Due: pyright, ruff-format, ruff-check

Monitor postgres instances
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Migrate paperless to cloudnative-pg
  services/paperless/Pulumi.prod.yaml
  services/paperless/__main__.py
  services/paperless/paperless/paperless.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check, yamllint

Cleanup docs
  docs/examples/cnpg_postgres.py
  docs/examples/migrate-postgres.sh
  docs/examples/statefulset_postgres.py
Due: pyright, ruff-format, ruff-check

Remove old bitnami based postgres
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Update paperless postgres renovate comment
  services/paperless/Pulumi.prod.yaml
Due: yamllint

Update renovate.json5
  renovate.json5
Due: none

Add main library to immich
  services/immich/Pulumi.prod.yaml
Due: yamllint

Publish immich
  services/ingress/Pulumi.prod.yaml
  services/ingress/ingress/cloudflared.py
Due: pyright, ruff-format, ruff-check, yamllint

Downgrade immich postgres to 18.0
  services/immich/Pulumi.prod.yaml
Due: yamllint
