Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright --warnings
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: yamllint
        name: yamllint
        entry: uv run yamllint --strict -c=.yamllint .
        language: system
        types: [yaml]
        pass_filenames: false
      - id: alloy-format
        name: alloy-format
        entry: ./scripts/alloy-fmt
        language: system
        files: \.alloy$

Switch ollama to esc
  services/ollama/Pulumi.prod.yaml
  services/ollama/ollama/config.py
  services/ollama/ollama/ollama.py
Due: pyright, ruff-format, ruff-check, yamllint

Remove proxmox stack
  services/proxmox/Pulumi.dev.yaml
  services/proxmox/Pulumi.yaml
  services/proxmox/__main__.py
  services/proxmox/proxmox/config.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch svn to esc
  services/svn/Pulumi.prod.yaml
  services/svn/svn/config.py
  services/svn/svn/svn.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch tandoor to esc
  services/tandoor/Pulumi.prod.yaml
  services/tandoor/tandoor/config.py
  services/tandoor/tandoor/tandoor.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch s3 to esc
  services/s3/Pulumi.prod.yaml
  services/s3/__main__.py
  services/s3/s3/config.py
  services/s3/s3/minio.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch strava-config to esc
  services/strava-sensor/Pulumi.prod.yaml
  services/strava-sensor/strava_sensor/config.py
  services/strava-sensor/strava_sensor/strava_sensor.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch unifi to esc
  services/unifi/Pulumi.prod.yaml
  services/unifi/__main__.py
  services/unifi/unifi/config.py
Due: pyright, ruff-format, ruff-check, yamllint

Remove 1Password fallback for cloudflare
  utils/src/utils/cloudflare.py
  utils/src/utils/model.py
Due: pyright, ruff-format, ruff-check

Remove 1password provider
  pyproject.toml
  utils/pyproject.toml
  utils/src/utils/model.py
  utils/src/utils/onepassword.py
  uv.lock
Due: pyright, ruff-format, ruff-check

Fix differing uv build backend
  pyproject.toml
  services/backup/pyproject.toml
  services/netbox/pyproject.toml
  services/ollama/pyproject.toml
  services/strava-sensor/pyproject.toml
  services/svn/pyproject.toml
  utils/pyproject.toml
Due: none

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
Due: yamllint
