Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint --strict -c=.yamllint .
  language: system
  pass_filenames: false

alloy-format:
  name: alloy-format
  entry: ./scripts/alloy-fmt
  language: system

Use esc for s3 credentials
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/main_legacy.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check, yamllint

Merge monitoring main functions
  services/monitoring/__main__.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/main_legacy.py
Due: pyright, ruff-format, ruff-check

Move out mimir buckets
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/mimir_buckets.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check

Cleanup mimir bucket opts
  services/monitoring/monitoring/mimir_buckets.py
Due: pyright, ruff-format, ruff-check

Remove optional config fields
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/cadvisor_legacy.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/grafana.py
  services/monitoring/monitoring/mimir_legacy.py
  services/monitoring/monitoring/speedtest.py
Due: pyright, ruff-format, ruff-check

Move Grafana to component resource
  services/monitoring/monitoring/grafana.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check

Remove temporary grafana aliases
  services/monitoring/monitoring/grafana.py
Due: pyright, ruff-format, ruff-check

Move alloy exports to alloy
  services/ingress/pyproject.toml
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/main.py
  services/proxmox/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check

Move mimir to component resource
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check

Remove mimir alias
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check

Move mimir dns record to component resource
  services/monitoring/monitoring/mimir_legacy.py
  utils/src/utils/cloudflare.py
Due: pyright, ruff-format, ruff-check

Move alloy-legacy to component resource
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check

Move cadvisor into component resource
  services/monitoring/monitoring/cadvisor_legacy.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check

Move speedtest exporter to component resource
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/speedtest.py
Due: pyright, ruff-format, ruff-check

Prepare component resource for new mimir
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/mimir.py
Due: pyright, ruff-format, ruff-check

Add mimir on k8s
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/assets/alloy/export_mimir.alloy
  services/monitoring/assets/mimir-legacy/config.yaml
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/grafana.py
  services/monitoring/monitoring/mimir.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check, yamllint, alloy-format

Configure ingress for mimir
  services/monitoring/monitoring/mimir.py
Due: pyright, ruff-format, ruff-check

Remove legacy mimir
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check, yamllint

Fix static scrape targets
  services/monitoring/assets/alloy/discovery_static.alloy
Due: alloy-format

Remove legacy mimir config
  services/monitoring/assets/mimir-legacy/config.yaml
Due: yamllint

Scrape minio metrics
  services/monitoring/assets/alloy/discovery_static.alloy
  services/s3/s3/minio.py
Due: pyright, ruff-format, ruff-check, alloy-format

Upload sparse index headers
  services/monitoring/assets/mimir/config.yaml
Due: yamllint

Remove obsidian service
  pyproject.toml
  services/obsidian/Pulumi.prod.yaml
  services/obsidian/Pulumi.yaml
  services/obsidian/__main__.py
  services/obsidian/assets/couchdb/docker.ini
  services/obsidian/obsidian/__init__.py
  services/obsidian/obsidian/cloudflare.py
  services/obsidian/obsidian/config.py
  services/obsidian/obsidian/couchdb.py
  services/obsidian/obsidian/utils.py
  services/obsidian/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Fix renovate for traefik
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
  services/kubernetes/kubernetes/traefik.py
Due: pyright, ruff-format, ruff-check, yamllint

Disable phone home of grafana components
  services/monitoring/assets/mimir/config.yaml
  services/monitoring/monitoring/grafana.py
Due: pyright, ruff-format, ruff-check, yamllint

Add blackbox probe for adguard
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Add adguard-exporter
  AGENTS.md
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/adguard_exporter.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check, yamllint

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
Due: yamllint

Add k8s api to blackbox exporter
  services/kubernetes/README.md
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Add netboot.xyz
  pyproject.toml
  services/netboot/Pulumi.prod.yaml
  services/netboot/Pulumi.yaml
  services/netboot/README.md
  services/netboot/__main__.py
  services/netboot/netboot.xyz.kpxe
  services/netboot/netboot/__init__.py
  services/netboot/netboot/config.py
  services/netboot/netboot/netboot.py
  services/netboot/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Manage certs on synology via cert-manager
  services/ingress/Pulumi.prod.yaml
  services/ingress/README.md
  services/ingress/__main__.py
  services/ingress/assets/README.md
  services/ingress/assets/synology-cert-deploy.sh
  services/ingress/ingress/acme.py
  services/ingress/ingress/config.py
Due: pyright, ruff-format, ruff-check, yamllint

feat(netbox): add NetBox service configuration and deployment files
  pyproject.toml
  services/netbox/Pulumi.prod.yaml
  services/netbox/Pulumi.yaml
  services/netbox/__main__.py
  services/netbox/netbox/__init__.py
  services/netbox/netbox/config.py
  services/netbox/netbox/netbox.py
  services/netbox/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Configure ingress for netbox
  services/netbox/Pulumi.prod.yaml
  services/netbox/netbox/config.py
  services/netbox/netbox/netbox.py
Due: pyright, ruff-format, ruff-check, yamllint

Consolidate agent instructions
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

Add strava-sensor ingress
  services/ingress/Pulumi.prod.yaml
  services/ingress/__main__.py
  services/ingress/ingress/config.py
  services/ingress/ingress/local_cloudflared.py
Due: pyright, ruff-format, ruff-check, yamllint

Add initial strava sensor deployment
  pyproject.toml
  services/strava-sensor/Pulumi.prod.yaml
  services/strava-sensor/Pulumi.yaml
  services/strava-sensor/__main__.py
  services/strava-sensor/pyproject.toml
  services/strava-sensor/strava_sensor/__init__.py
  services/strava-sensor/strava_sensor/config.py
  services/strava-sensor/strava_sensor/main.py
  services/strava-sensor/strava_sensor/strava_sensor.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  alloy-format: any of: \.alloy$
