Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint --strict -c=.yamllint .
  language: system
  pass_filenames: false

alloy-format:
  name: alloy-format
  entry: ./scripts/alloy-fmt
  language: system

Checkpoint from VS Code for coding agent session
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/alloy_legacy.py
Due: pyright, ruff-format, ruff-check

Fix agent symlinks
  .github/copilot-instructions.md
  CLAUDE.md
  GEMINI.md
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Apply suggestions from code review
  AGENTS.md
Due: none

Hack around re-used snippet name
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check

Use own cloud-init snippet for zwave-controller
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check

Enable rbac on k8s
  services/kubernetes/kubernetes/microk8s.py
Due: pyright, ruff-format, ruff-check

Remove terminal initialization
  AGENTS.md
Due: none

Add initial n8n
  pyproject.toml
  services/n8n/Pulumi.prod.yaml
  services/n8n/Pulumi.yaml
  services/n8n/__main__.py
  services/n8n/n8n/__init__.py
  services/n8n/n8n/config.py
  services/n8n/n8n/main.py
  services/n8n/n8n/n8n.py
  services/n8n/pyproject.toml
  utils/src/utils/opnsense/unbound/host_override.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

feat(svn): add Subversion service (httpd on 8080), auth + helper
  pyproject.toml
  services/svn/Pulumi.prod.yaml
  services/svn/Pulumi.yaml
  services/svn/README.md
  services/svn/__main__.py
  services/svn/assets/httpd.conf
  services/svn/pyproject.toml
  services/svn/scripts/svnadmin.sh
  services/svn/svn/__init__.py
  services/svn/svn/config.py
  services/svn/svn/main.py
  services/svn/svn/svn.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Use 1password for kubeconfig
  services/svn/Pulumi.prod.yaml
  services/svn/svn/config.py
  services/svn/svn/main.py
Due: pyright, ruff-format, ruff-check, yamllint

Add renovate for microk8s
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Fix microk8s version number
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
  services/kubernetes/kubernetes/microk8s.py
Due: pyright, ruff-format, ruff-check, yamllint

Fix n8n package name for renovate
  services/n8n/Pulumi.prod.yaml
Due: yamllint

Fix microk8s renovate
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Fix version scheme on microk8s
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Allow quotes in current version
  renovate.json5
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Fix the regex to not match quotes as part of the current version
  renovate.json5
Due: none

Fix tika versioning scheme
  services/paperless/Pulumi.prod.yaml
Due: yamllint

Switch microk8s back to loose versioning
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Create renvate pr for each microk8s version
  renovate.json5
Due: none

Fix metallb
  services/kubernetes/kubernetes/metallb.py
Due: pyright, ruff-format, ruff-check

Reformat after ruff update
  services/backup/backup/config.py
  services/ingress/ingress/cloudflared.py
  services/iot/iot/config.py
  services/iot/iot/mosquitto.py
  services/iot/iot/mqtt2prometheus.py
  services/iot/iot/zwave_controller.py
  services/kubernetes/kubernetes/config.py
  services/kubernetes/kubernetes/microk8s.py
  services/kubernetes/kubernetes/traefik.py
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/main_legacy.py
  services/monitoring/monitoring/mimir_legacy.py
  services/n8n/n8n/n8n.py
  services/obsidian/__main__.py
  services/obsidian/obsidian/cloudflare.py
  services/ollama/ollama/ollama.py
  services/paperless/__main__.py
  services/paperless/paperless/config.py
  services/paperless/paperless/paperless.py
  services/s3/__main__.py
  services/s3/s3/minio.py
  services/svn/svn/svn.py
  services/unifi/unifi/config.py
  services/unifi/unifi/unifi.py
Due: pyright, ruff-format, ruff-check

Tune mimir settings
  services/monitoring/assets/mimir/config.yaml
Due: yamllint

Fix secrets config
  services/kubernetes/kubernetes/cloudnativepg.py
Due: pyright, ruff-format, ruff-check

Support postgres operator in create_postgres
  docs/postgres-backends.md
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix create_postgres for cnpg
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Switch default postgres to cloudnative-pg
  services/paperless/__main__.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix renovate for cloudnative-pg
  renovate.json5
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Move cnpg postgres to component resource
  AGENTS.md
  services/paperless/__main__.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix parent of postgres password
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix postgres cluster name
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix deprecation warning
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Prepare postgres for immich
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Fix postgres renovate version
  services/immich/Pulumi.prod.yaml
Due: yamllint

Reformat
  services/immich/__main__.py
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check

First working version of immich
  services/immich/Pulumi.prod.yaml
  services/immich/__main__.py
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check, yamllint

Update database and fix renovate
  services/immich/Pulumi.prod.yaml
Due: yamllint

Update postgres and vectorchord separately
  services/immich/Pulumi.prod.yaml
  services/immich/__main__.py
  services/immich/immich/config.py
Due: pyright, ruff-format, ruff-check, yamllint

Give immich superuser access to postgres
  services/immich/__main__.py
  services/immich/immich/immich.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  alloy-format: any of: \.alloy$
