Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint --strict -c=.yamllint .
  language: system
  pass_filenames: false

alloy-format:
  name: alloy-format
  entry: ./scripts/alloy-fmt
  language: system

Give immich more memory
  services/immich/Pulumi.prod.yaml
Due: yamllint

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
Due: yamllint

Remove goldilocks service from monitoring stack
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/goldilocks.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check, yamllint

fix(monitoring): drop adguard client_name label to stop WAL cardinality growth
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
Due: alloy-format

fix(monitoring): use prometheus.relabel component for adguard metric relabeling
  services/monitoring/assets/alloy/collect_prometheus.alloy
Due: alloy-format

feat(mdns-reflector): add avahi-based mDNS reflector service
  pyproject.toml
  services/mdns-reflector/README.md
  services/mdns-reflector/ansible.cfg
  services/mdns-reflector/assets/alloy/collect_loki.alloy
  services/mdns-reflector/assets/alloy/export_alloy.alloy
  services/mdns-reflector/assets/alloy/live_debugging.alloy
  services/mdns-reflector/assets/alloy/logging.alloy
  services/mdns-reflector/assets/alloy/process_otel.alloy
  services/mdns-reflector/inventory/prod/hosts.yaml
  services/mdns-reflector/playbooks/main.yaml
  services/mdns-reflector/playbooks/mdns-reflector-alloy.yaml
  services/mdns-reflector/playbooks/mdns-reflector-avahi.yaml
  services/mdns-reflector/requirements.yaml
  services/mdns-reflector/run-ansible.sh
  services/mdns-reflector/templates/avahi-daemon.conf.j2
Due: yamllint, alloy-format

chore(mdns-reflector): enable ansible pipelining
  services/mdns-reflector/ansible.cfg
Due: none

fix(monitoring): drop high-cardinality metrics to reduce Mimir series count
  services/monitoring/assets/alloy/collect_prometheus.alloy
Due: alloy-format

fix(monitoring): drop immich internal repository metrics to reduce cardinality
  services/monitoring/assets/alloy/collect_prometheus.alloy
Due: alloy-format

Fix home assistant scrape port
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Fix pyrefly dependency
  pyproject.toml
  uv.lock
Due: none

Fix grafana readiness probe
  services/monitoring/monitoring/grafana.py
Due: pyright, ruff-format, ruff-check

Switch to file based pod logs
  services/monitoring/assets/alloy/collect_logs.alloy
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
Due: alloy-format

feat(unifi): set up acme.sh TLS certificate management
  .yamllint
  services/unifi/Pulumi.prod.yaml
  services/unifi/__main__.py
  services/unifi/ansible.cfg
  services/unifi/inventory/prod/hosts.py
  services/unifi/playbooks/install-acme.yaml
  services/unifi/playbooks/main.yaml
  services/unifi/roles/ensure-acme-certificate/defaults/main.yaml
  services/unifi/roles/ensure-acme-certificate/tasks/main.yaml
  services/unifi/roles/ensure-acme-certificate/templates/unifi-osserver-ssl-import-wrapper.sh.j2
  services/unifi/roles/ensure-acme/defaults/main.yaml
  services/unifi/roles/ensure-acme/tasks/main.yaml
  services/unifi/run-ansible-prod
  services/unifi/unifi/acme.py
  services/unifi/unifi/config.py
  services/unifi/unifi/unifi.py
  services/unifi/vendor/unifi-ssl-import/LICENSE
  services/unifi/vendor/unifi-ssl-import/README.md
  services/unifi/vendor/unifi-ssl-import/unifi-osserver-ssl-import
  vendir.lock.yml
  vendir.yml
Due: pyright, ruff-format, ruff-check, yamllint

Fix blackbox probe for unifi
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Add paperless-gpt service to the paperless stack
  services/paperless/Pulumi.prod.yaml
  services/paperless/paperless/config.py
  services/paperless/paperless/paperless.py
Due: pyright, ruff-format, ruff-check, yamllint

fix(paperless): reduce concurrency and increase memory to prevent OOM
  services/paperless/Pulumi.prod.yaml
  services/paperless/paperless/paperless.py
Due: pyright, ruff-format, ruff-check, yamllint

Fix formatting
  services/unifi/vendor/unifi-ssl-import/LICENSE
  services/unifi/vendor/unifi-ssl-import/README.md
  services/unifi/vendor/unifi-ssl-import/unifi-osserver-ssl-import
Due: none

feat(monitoring): add daily CronJob to restart Alloy at 06:00
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/config.py
Due: pyright, ruff-format, ruff-check, yamllint

chore: trim AGENTS.md to reduce context consumption
  AGENTS.md
Due: none

Require python 3.14
  .github/actions/setup-project/README.md
  .github/actions/setup-project/action.yml
  .github/workflows/linters.yml
  pyproject.toml
  services/backup/pyproject.toml
  services/immich/pyproject.toml
  services/ingress/pyproject.toml
  services/iot/pyproject.toml
  services/kubernetes/pyproject.toml
  services/monitoring/pyproject.toml
  services/n8n/pyproject.toml
  services/netboot/pyproject.toml
  services/netbox/pyproject.toml
  services/ollama/pyproject.toml
  services/paperless/pyproject.toml
  services/proxmox/pyproject.toml
  services/s3/pyproject.toml
  services/strava-sensor/pyproject.toml
  services/svn/pyproject.toml
  services/tandoor/pyproject.toml
  services/unifi/pyproject.toml
  utils/pyproject.toml
  utils/uv.lock
  uv.lock
Due: yamllint

Remove pulumi bucket
  services/s3/s3/minio.py
  services/s3/s3/pulumi.py
Due: pyright, ruff-format, ruff-check

Remove kubeconfig from 1password
  services/kubernetes/kubernetes/microk8s.py
Due: pyright, ruff-format, ruff-check

Move backup to esc
  services/backup/Pulumi.prod.yaml
  services/backup/backup/config.py
  services/backup/backup/cronjob.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch immich to esc
  services/immich/Pulumi.prod.yaml
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch kubernetes to esc
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/__main__.py
  services/kubernetes/kubernetes/certmanager.py
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/config.py
  services/kubernetes/kubernetes/traefik.py
  utils/src/utils/proxmox.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch iot to esc
  services/iot/Pulumi.prod.yaml
  services/iot/iot/config.py
  services/iot/iot/main.py
  services/iot/iot/mqtt2prometheus.py
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch ingress to esc
  services/ingress/Pulumi.prod.yaml
  services/ingress/__main__.py
  services/ingress/ingress/acme.py
  services/ingress/ingress/cloudflared.py
  services/ingress/ingress/config.py
  services/ingress/ingress/local_cloudflared.py
  services/monitoring/monitoring/main.py
  services/netboot/__main__.py
  services/s3/__main__.py
  utils/src/utils/cloudflare.py
Due: pyright, ruff-format, ruff-check, yamllint

Use global proxmox config
  services/iot/Pulumi.prod.yaml
  services/iot/iot/config.py
  services/iot/iot/main.py
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch n8n to esc
  services/n8n/Pulumi.prod.yaml
  services/n8n/n8n/config.py
  services/n8n/n8n/n8n.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch monitoring to esc
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/adguard_exporter.py
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
  services/monitoring/monitoring/mimir.py
  utils/src/utils/cloudflare.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch paperless to esc
  services/paperless/Pulumi.prod.yaml
  services/paperless/paperless/config.py
  services/paperless/paperless/paperless.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch netbox to esc
  services/netbox/Pulumi.prod.yaml
  services/netbox/netbox/config.py
  services/netbox/netbox/netbox.py
Due: pyright, ruff-format, ruff-check, yamllint

Switch netboot to esc
  services/netboot/Pulumi.prod.yaml
  services/netboot/__main__.py
  services/netboot/netboot/config.py
  services/netboot/netboot/netboot.py
Due: pyright, ruff-format, ruff-check, yamllint

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  alloy-format: any of: \.alloy$
