Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright --warnings
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: yamllint
        name: yamllint
        entry: uv run yamllint --strict -c=.yamllint .
        language: system
        types: [yaml]
        pass_filenames: false
      - id: alloy-format
        name: alloy-format
        entry: ./scripts/alloy-fmt
        language: system
        files: \.alloy$

Downgrade tandoor postgres to 18.0
  services/tandoor/Pulumi.prod.yaml
Due: yamllint

Fix immich uv workspace
  pyproject.toml
  services/immich/pyproject.toml
  uv.lock
Due: none

Switch from pyright to pyrefly
  .pre-commit-config.yaml
  pyproject.toml
  services/backup/backup/cronjob.py
  services/immich/immich/immich.py
  services/iot/iot/mqtt2prometheus.py
  services/kubernetes/kubernetes/cloudnativepg.py
  services/monitoring/monitoring/alloy.py
  utils/src/utils/postgres.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Fix env var typing
  services/backup/backup/cronjob.py
Due: pyright, ruff-format, ruff-check

Set pyrefly interpreter path
  pyproject.toml
Due: none

Install cloudnative-pg image catalogs
  .github/workflows/update-cloudnativepg-catalogs.yml
  .yamllint
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
  services/kubernetes/assets/image-catalogs/update-catalogs.sh
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/utils.py
Due: pyright, ruff-format, ruff-check, yamllint

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
Due: yamllint

Use image catalog for postgres
  services/immich/__main__.py
  services/paperless/Pulumi.prod.yaml
  services/paperless/paperless/config.py
  services/paperless/paperless/paperless.py
  services/tandoor/Pulumi.prod.yaml
  services/tandoor/tandoor/config.py
  services/tandoor/tandoor/tandoor.py
  utils/src/utils/postgres.py
Due: pyright, ruff-format, ruff-check, yamllint

Configure postgres updates for major versions only
  renovate.json5
  services/immich/Pulumi.prod.yaml
  services/paperless/Pulumi.prod.yaml
  services/tandoor/Pulumi.prod.yaml
Due: yamllint

Downgrade PostgreSQL version from 18.1 to 18.0
  services/immich/Pulumi.prod.yaml
Due: yamllint

Try extractVersion for major only postgres updates
  renovate.json5
  services/paperless/Pulumi.prod.yaml
  services/tandoor/Pulumi.prod.yaml
Due: yamllint

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
Due: yamllint

Pre-load currently used clip model
  services/immich/Pulumi.prod.yaml
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check, yamllint

Fix pulumi dependency line in pyproject.toml
  pyproject.toml
Due: none

Re-ignore type errors after lockfile maintenance
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/microk8s.py
  services/monitoring/monitoring/grafana.py
Due: pyright, ruff-format, ruff-check

Revert "chore(deps): update dependency tensorchord/vectorchord to v1"
  services/immich/Pulumi.prod.yaml
Due: yamllint

Revert "chore(deps): update dependency postgresql to v18.1 (immich)"
  services/immich/Pulumi.prod.yaml
Due: yamllint

Fix kubernetes stack
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/kubernetes/microk8s.py
Due: pyright, ruff-format, ruff-check, yamllint

Increase root disk size
  services/kubernetes/Pulumi.prod.yaml
Due: yamllint

Revert "chore(deps): update dependency canonical/microk8s to v1.35"
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/Pulumi.test.yaml
Due: yamllint

Update after pulumi upgrade
  services/kubernetes/kubernetes/certmanager.py
  services/kubernetes/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check

Fix mimir startup problem
  services/monitoring/Pulumi.dev.yaml
  services/monitoring/assets/mimir/config.yaml
Due: yamllint

Fix cadvisor startup
  services/monitoring/monitoring/cadvisor_legacy.py
Due: pyright, ruff-format, ruff-check

Fix injestion rate limit
  services/monitoring/assets/mimir/config.yaml
Due: yamllint

Add blackbox monitoring
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Add additional blackbox targets
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Scrape by default via ipv4
  services/monitoring/assets/alloy/discovery_blackbox.alloy
Due: alloy-format

Refactor logs collection
  services/monitoring/assets/alloy/collect_logs.alloy
  services/monitoring/assets/alloy/collect_loki.alloy
Due: alloy-format

Try to fix mimir renovate version
  services/monitoring/Pulumi.dev.yaml
Due: yamllint

Rename legacy functions
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/cadvisor_legacy.py
  services/monitoring/monitoring/main_legacy.py
  services/monitoring/monitoring/mimir_legacy.py
Due: pyright, ruff-format, ruff-check

Rename dev stack to prod
  services/s3/Pulumi.prod.yaml
Due: yamllint

Export s3 info to esc
  services/kubernetes/kubernetes/microk8s.py
  services/s3/s3/minio.py
Due: pyright, ruff-format, ruff-check

Merge monitoring stacks
  services/monitoring/Pulumi.dev.yaml
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/__main__.py
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/cadvisor_legacy.py
  services/monitoring/monitoring/config.py
Due: pyright, ruff-format, ruff-check, yamllint
