Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

pyright:
  name: pyright
  entry: ./.venv/bin/pyright --warnings
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: ./.venv/bin/ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: ./.venv/bin/ruff check --fix
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: ./.venv/bin/yamllint --strict -c=.yamllint
  language: system

alloy-format:
  name: alloy-format
  entry: ./scripts/alloy-fmt
  language: system

Fix linting
  docs/examples/cnpg_postgres.py
  docs/examples/migrate-postgres.sh
  docs/examples/statefulset_postgres.py
  docs/postgresql-migration-plan.md
  docs/postgresql-migration-research.md
Due: pyright, ruff-format, ruff-check

fix(pre-commit): use 'uv run' for all python tools to ensure consistent env in hooks and CLI
  .pre-commit-config.yaml
  services/paperless/paperless/restore.py
Due: pyright, ruff-format, ruff-check, yamllint

Fix linters event
  .github/workflows/linters.yml
Due: yamllint

fix(renovate): broaden Dockerfile regex to match all Dockerfiles in any directory or with any extension
  renovate.json5
Due: none

chore(renovate): switch Dockerfile managerFilePatterns to glob for easier maintenance
  renovate.json5
Due: none

fix(paperless): use loose versioning for restic image to improve renovate tag recognition
  services/paperless/Pulumi.prod.yaml
Due: yamllint

ci: add <restic-version>_<rclone-version> tag for restic-rclone image to support Renovate version discovery
  .github/workflows/build-restic-rclone.yml
  services/paperless/Pulumi.prod.yaml
Due: yamllint

Remove duplicated renovate tag
  .github/workflows/build-restic-rclone.yml
Due: yamllint

fix: restic-rclone version tag format
  services/paperless/Pulumi.prod.yaml
Due: yamllint

Update restic-rclone
  services/paperless/Pulumi.prod.yaml
Due: yamllint

Fix renovate config for yaml with dashes
  renovate.json5
Due: none

Fix cadvisor image url
  services/monitoring/monitoring/cadvisor_legacy.py
Due: pyright, ruff-format, ruff-check

Address GPT-5 kubernetes review
  .github/copilot-instructions.md
  services/kubernetes/kubernetes/metallb.py
  services/kubernetes/kubernetes/microk8s.py
  services/kubernetes/kubernetes/snap.py
  services/kubernetes/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check

Cleanup alias after rollout
  services/kubernetes/kubernetes/metallb.py
Due: pyright, ruff-format, ruff-check

paperless: add IDrive E2 secondary restic backup with auto-init
  .github/copilot-instructions.md
  README.md
  services/paperless/Pulumi.prod.yaml
  services/paperless/paperless/backup.py
  services/paperless/paperless/config.py
  services/paperless/paperless/paperless.py
Due: pyright, ruff-format, ruff-check, yamllint

Setup initial claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yamllint

Add initial claude memory
  CLAUDE.md
Due: none

feat: add ollama service for local LLM deployment
  CLAUDE.md
  pyproject.toml
  services/ollama/Pulumi.prod.yaml
  services/ollama/Pulumi.yaml
  services/ollama/__main__.py
  services/ollama/ollama/__init__.py
  services/ollama/ollama/config.py
  services/ollama/ollama/main.py
  services/ollama/ollama/ollama.py
  services/ollama/pyproject.toml
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Trigger claude review by comment
  .github/workflows/claude-code-review.yml
Due: yamllint

Optimize 1password loading
  .envrc
Due: none

Remove local s3 backend
  .envrc
Due: none

feat: optimize config schema generation and standardize Python imports
  .envrc
  .github/copilot-instructions.md
  CLAUDE.md
  pyproject.toml
  scripts/generate-config-schema
Due: none

Use fqdn for synology
  services/monitoring/Pulumi.dev.yaml
  services/obsidian/Pulumi.prod.yaml
  services/s3/Pulumi.dev.yaml
Due: yamllint

Remove ollama memory limit
  services/ollama/ollama/ollama.py
Due: pyright, ruff-format, ruff-check

Fix otel filter for claude code
  services/monitoring/assets/alloy/process_otel.alloy
Due: alloy-format

Add a new backup service
  .pre-commit-config.yaml
  pyproject.toml
  services/backup/.env.example
  services/backup/Pulumi.prod.yaml
  services/backup/Pulumi.yaml
  services/backup/README.md
  services/backup/__main__.py
  services/backup/assets/backup.sh.j2
  services/backup/backup/__init__.py
  services/backup/backup/backup.py
  services/backup/backup/config.py
  services/backup/backup/cronjob.py
  services/backup/pyproject.toml
  services/backup/scripts/restic-helper.sh
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

feat: add gemini integration
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  .yamllint
  GEMINI.md
Due: yamllint

Remove gemini actions
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Due: yamllint

fix(backup): Resolve permission errors and deprecation warnings
  services/backup/assets/backup.sh.j2
Due: none

refactor: Consolidate agent instructions into AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

docs: Add detailed alloy refactoring plan
  docs/alloy-refactor.md
Due: none

feat(monitoring): Rename alloy assets to alloy_legacy
  services/monitoring/assets/alloy_legacy/collect_loki.alloy
  services/monitoring/assets/alloy_legacy/collect_otel.alloy
  services/monitoring/assets/alloy_legacy/collect_prometheus.alloy
  services/monitoring/assets/alloy_legacy/discovery_blackbox.alloy
  services/monitoring/assets/alloy_legacy/discovery_self.alloy
  services/monitoring/assets/alloy_legacy/discovery_static.alloy
  services/monitoring/assets/alloy_legacy/discovery_unix.alloy
  services/monitoring/assets/alloy_legacy/export_grafanacloud.alloy
  services/monitoring/assets/alloy_legacy/export_mimir.alloy
  services/monitoring/assets/alloy_legacy/live_debugging.alloy
  services/monitoring/assets/alloy_legacy/logging.alloy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
Due: alloy-format

feat(monitoring): Update alloy_legacy.py to use new asset path
  docs/alloy-refactor.md
  services/monitoring/monitoring/alloy_legacy.py
Due: pyright, ruff-format, ruff-check

Update plan with claude
  docs/alloy-refactor.md
Due: none

feat(monitoring): Complete alloy refactor with centralized service
  services/monitoring/Pulumi.dev.yaml
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/assets/alloy/collect_loki.alloy
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_static.alloy
  services/monitoring/assets/alloy/discovery_unix.alloy
  services/monitoring/assets/alloy/export_mimir.alloy
  services/monitoring/assets/alloy_legacy/collect_loki.alloy
  services/monitoring/assets/alloy_legacy/collect_otel.alloy
  services/monitoring/assets/alloy_legacy/collect_prometheus.alloy
  services/monitoring/assets/alloy_legacy/discovery_blackbox.alloy
  services/monitoring/assets/alloy_legacy/discovery_static.alloy
  services/monitoring/assets/alloy_legacy/export_alloy.alloy
  services/monitoring/assets/alloy_legacy/export_grafanacloud.alloy
  services/monitoring/assets/alloy_legacy/export_mimir.alloy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/alloy_legacy.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/main.py
Due: pyright, ruff-format, ruff-check, yamllint, alloy-format

feat(monitoring): Add HTTP TLS configuration for Alloy
  services/monitoring/assets/alloy/http_tls.alloy
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check, alloy-format

feat(monitoring): Fix container name as service name in alloy legacy
  services/monitoring/assets/alloy_legacy/collect_loki.alloy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
Due: alloy-format

feat(monitoring): Add synology service name for file-based logs in alloy legacy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
Due: alloy-format

refactor(monitoring): Restructure alloy legacy OTEL processing pipeline
  services/monitoring/assets/alloy_legacy/collect_loki.alloy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
Due: alloy-format

feat(monitoring): Add comprehensive Kubernetes log collection to Alloy
  services/monitoring/assets/alloy/collect_k8s_logs.alloy
  services/monitoring/assets/alloy/process_otel.alloy
  services/monitoring/monitoring/alloy.py
Due: pyright, ruff-format, ruff-check, alloy-format

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  alloy-format: any of: \.alloy$
