Repository CrashLoopBackCoffee/th-deploy-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint, alloy-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright --warnings
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: yamllint
        name: yamllint
        entry: uv run yamllint --strict -c=.yamllint .
        language: system
        types: [yaml]
        pass_filenames: false
      - id: alloy-format
        name: alloy-format
        entry: ./scripts/alloy-fmt
        language: system
        files: \.alloy$

Fix linting after ruff update
  services/backup/backup/config.py
  services/immich/immich/config.py
  services/ingress/ingress/config.py
  services/iot/iot/config.py
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/config.py
  services/monitoring/monitoring/config.py
  services/n8n/n8n/config.py
  services/netboot/netboot/config.py
  services/netbox/netbox/config.py
  services/ollama/ollama/config.py
  services/paperless/paperless/config.py
  services/proxmox/proxmox/config.py
  services/s3/s3/config.py
  services/strava-sensor/strava_sensor/config.py
  services/svn/svn/config.py
  services/tandoor/tandoor/config.py
  services/unifi/unifi/config.py
Due: pyright, ruff-format, ruff-check

Use healthz endpoint for readiness endpoint
  services/strava-sensor/strava_sensor/strava_sensor.py
Due: pyright, ruff-format, ruff-check

Tune strava sensor probes
  services/strava-sensor/strava_sensor/strava_sensor.py
Due: pyright, ruff-format, ruff-check

Fix garmin credential path
  services/strava-sensor/strava_sensor/strava_sensor.py
Due: pyright, ruff-format, ruff-check

chore: Update CloudNativePG image catalogs
  services/kubernetes/assets/image-catalogs/catalog-minimal-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-minimal-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-standard-trixie.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bookworm.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-bullseye.yaml
  services/kubernetes/assets/image-catalogs/catalog-system-trixie.yaml
Due: yamllint

feat(iot): ship zwave-controller logs to otel pipeline via alloy
  services/iot/Pulumi.prod.yaml
  services/iot/assets/alloy/collect_loki.alloy
  services/iot/assets/alloy/export_alloy.alloy
  services/iot/assets/alloy/live_debugging.alloy
  services/iot/assets/alloy/logging.alloy
  services/iot/assets/alloy/process_otel.alloy
  services/iot/iot/config.py
  services/iot/iot/utils.py
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check, yamllint, alloy-format

fix(alloy): use correct OTTL path prefixes in transform processors
  services/iot/assets/alloy/process_otel.alloy
  services/monitoring/assets/alloy_legacy/process_otel.alloy
Due: alloy-format

fix(iot/alloy): journal logs use service.name=zwave-controller, unit label renamed to systemd.unit
  services/iot/assets/alloy/collect_loki.alloy
  services/iot/assets/alloy/process_otel.alloy
Due: alloy-format

fix(iot/alloy): set journal path explicitly, override host.name to zwave-controller
  services/iot/assets/alloy/collect_loki.alloy
  services/iot/assets/alloy/process_otel.alloy
Due: alloy-format

fix(alloy): use /var/log/journal path, preserve host.name from upstream via override=false
  services/iot/assets/alloy/collect_loki.alloy
  services/monitoring/assets/alloy/process_otel.alloy
Due: alloy-format

fix(iot/alloy): use uppercase journal field names for systemd.unit, host, transport
  services/iot/assets/alloy/collect_loki.alloy
Due: alloy-format

fix(iot/alloy): revert to lowercase journal labels, use valid label name systemd_unit
  services/iot/assets/alloy/collect_loki.alloy
Due: alloy-format

fix(iot/alloy): use relabel_rules on loki.source.journal to preserve __journal__ labels before they are dropped
  services/iot/assets/alloy/collect_loki.alloy
Due: alloy-format

Remove superfluous alloy container mount
  services/iot/iot/zwave_controller.py
Due: pyright, ruff-format, ruff-check

Disable memory ballooning
  services/kubernetes/Pulumi.prod.yaml
Due: yamllint

Tune goldilocks dashboard a bit
  services/monitoring/monitoring/goldilocks.py
Due: pyright, ruff-format, ruff-check

Fix scraping of kube-state-metrics
  services/monitoring/assets/alloy/collect_prometheus.alloy
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
  services/monitoring/monitoring/kube_state_metrics.py
Due: pyright, ruff-format, ruff-check, alloy-format

Move skills to .agents
  .agents/skills/opentelemetry-alloy-config/SKILL.md
Due: none

refactor(agents): extract AGENTS.md sections into dedicated skills
  .agents/skills/container-image-management/SKILL.md
  .agents/skills/helm-chart-management/SKILL.md
  .agents/skills/pulumi-operations/SKILL.md
  .agents/skills/python-pulumi-patterns/SKILL.md
  AGENTS.md
Due: none

chore(renovate): prefer github-releases over helm datasource where tags exist
  .agents/skills/container-image-management/SKILL.md
  services/immich/Pulumi.prod.yaml
  services/monitoring/Pulumi.prod.yaml
Due: yamllint

Fix VPA for single node cluster
  services/kubernetes/kubernetes/vertical_pod_autoscaler.py
Due: pyright, ruff-format, ruff-check

fix(monitoring): add honor_labels=true for kube-state-metrics scrape
  services/monitoring/assets/alloy/collect_prometheus.alloy
Due: alloy-format

feat(immich): right-size containers using krr recommendations
  .agents/skills/container-rightsizing/SKILL.md
  services/immich/immich/config.py
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check

refactor(immich): use shared ResourcesConfig with to_resource_requirements()
  .agents/skills/container-rightsizing/SKILL.md
  services/immich/Pulumi.prod.yaml
  services/immich/immich/config.py
  services/immich/immich/immich.py
  utils/src/utils/model.py
Due: pyright, ruff-format, ruff-check, yamllint

Improve rightsizing skill
  .agents/skills/container-rightsizing/SKILL.md
Due: none

feat(monitoring): apply krr resource rightsizing
  .agents/skills/container-rightsizing/SKILL.md
  services/monitoring/Pulumi.prod.yaml
  services/monitoring/monitoring/adguard_exporter.py
  services/monitoring/monitoring/alloy.py
  services/monitoring/monitoring/config.py
  services/monitoring/monitoring/goldilocks.py
  services/monitoring/monitoring/grafana.py
  services/monitoring/monitoring/kube_state_metrics.py
  services/monitoring/monitoring/mimir.py
  services/monitoring/monitoring/node_exporter.py
  services/monitoring/monitoring/speedtest.py
Due: pyright, ruff-format, ruff-check, yamllint

feat(monitoring): add cluster label to kubernetes scrape targets
  services/monitoring/assets/alloy/discovery_k8s_nodes.alloy
  services/monitoring/assets/alloy/discovery_k8s_pods.alloy
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
Due: alloy-format

feat(monitoring): add cluster label to kubernetes-services job
  services/monitoring/assets/alloy/discovery_k8s_services.alloy
Due: alloy-format

feat(immich): assign low PriorityClass to machine-learning pod
  services/immich/immich/immich.py
Due: pyright, ruff-format, ruff-check

feat(ollama): assign low PriorityClass to pod
  services/ollama/ollama/ollama.py
Due: pyright, ruff-format, ruff-check

fix(paperless): rightsize containers to fix OOM
  services/paperless/Pulumi.prod.yaml
Due: yamllint

fix: re-rightsize services using real krr data from local cluster
  .agents/skills/container-rightsizing/SKILL.md
  services/iot/Pulumi.prod.yaml
  services/n8n/Pulumi.prod.yaml
  services/netbox/Pulumi.prod.yaml
  services/ollama/Pulumi.prod.yaml
  services/strava-sensor/Pulumi.prod.yaml
  services/svn/Pulumi.prod.yaml
  services/tandoor/Pulumi.prod.yaml
Due: yamllint

feat(kubernetes): apply container rightsizing for all deployed workloads
  services/kubernetes/Pulumi.prod.yaml
  services/kubernetes/kubernetes/certmanager.py
  services/kubernetes/kubernetes/cloudnativepg.py
  services/kubernetes/kubernetes/config.py
  services/kubernetes/kubernetes/csi_nfs.py
  services/kubernetes/kubernetes/metallb.py
  services/kubernetes/kubernetes/metrics_server.py
  services/kubernetes/kubernetes/traefik.py
  services/kubernetes/kubernetes/vertical_pod_autoscaler.py
Due: pyright, ruff-format, ruff-check, yamllint

fix(monitoring): throttle trivy-operator scan jobs for single-node homelab
  services/monitoring/monitoring/trivy_operator.py
Due: pyright, ruff-format, ruff-check

feat(monitoring): enable per-CVE metrics and daily re-scan in trivy-operator
  services/monitoring/monitoring/trivy_operator.py
Due: pyright, ruff-format, ruff-check

feat(monitoring): enable trivy built-in server for DB caching
  services/monitoring/monitoring/trivy_operator.py
Due: pyright, ruff-format, ruff-check

revert(monitoring): disable metricsVulnIdEnabled to reduce metric cardinality
  services/monitoring/monitoring/trivy_operator.py
Due: pyright, ruff-format, ruff-check

fix(monitoring): rightsize mimir after OOMKill
  services/monitoring/Pulumi.prod.yaml
Due: yamllint

fix(immich): rightsize immich-server after OOMKill
  services/immich/Pulumi.prod.yaml
Due: yamllint
